@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    margin: 0;
    padding: 0;
}
/* shard style  */
.display-flex{
    display: flex;
}
.text-paimary{
    color: #FF900E;
}
/* dark03 */
.text-gray{
    color: #727272 ;
}
/* dark02 */
.text-lightgray{
    color: #424242;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

/* header styles */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.button-pri{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}
/* navbar related styles */
nav{
    justify-content: space-between;
    align-items: center;
}
.brand-logo{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-left: 20px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-heading{
    font-weight: 700;
    font-size: 4em;
}
.banner-img{
    width: 100%;
}
/* teams and feture releted styls */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.25rem;
}
.our-featurs{
    margin-left: 130px;
    max-width: 530px;
}

.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quik-list{
    font-weight: 500;
}

.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.section-detiles{
    max-width: 540px;
}
/* sponcers related styles */

.sponcer-info{
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
.sponcer-companis{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponcer-companis img{
    filter: grayscale(100%);
}
/* features related styles */
#section-title-border{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.features{
    gap: 140px;
}
.feature-card-section .feture-card-titel{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}
.feature-card-section{
    margin-top: 50px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.5);
    margin-bottom: 40px;
}
#experience-bage{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.features-img img{
    width: 100%;
}
/* footer related styles */
.footer-section{
    display: grid;
    background-color: #FF900E;
    margin: 130px 240px;
    max-width: 4444px;
    height: 90px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
.footer-section p{
    color: #424242;
    font-size: 1.25rem;
}
/* responsive media query */
@media screen and (max-width: 576px){
    .navbar, 
    .nav-links,
    .features,
    .teams{
        flex-direction: column;
    }
    .teams{
        justify-items: center;
    }
    .team-img-container,
    .fact-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-featurs{
        margin-left: 20px;
    }
    .fact-container{
        gap: 5rem;
    }
    .fact-container{
        justify-items: center;
    }
    .sponcer-companis{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 2.5em;
    }
    #experience-bage{
        margin-top: -30px;
        margin-left: -30px;
    }
    .footer-section{
        height: 80px;
        max-width: 2000px;
        margin: 30px 40px;
        padding: 10px;
    }

}

/* mediyam devide */
@media screen and (min-width: 576px) and (max-width: 992px){
    .teams,
    .features{
        flex-direction: column;
    }
    .our-featurs{
        margin-left: 50px auto;
    }
    .sponcer-companis,
    .fact-container
    {
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 3rem;
    }
     #experience-bage{
        margin-top: -30px;
        margin-left: -30px;
    }
        .footer-section{
        height: 70px;
        max-width: 3000px;
        margin: 50px 70px;
        padding: 20px;
    }
}