@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    margin: 0;
    padding: 0;
}
/* shard style  */
.display-flex{
    display: flex;
}
.text-paimary{
    color: #FF900E;
}
/* dark03 */
.text-gray{
    color: #727272 ;
}
/* dark02 */
.text-lightgray{
    color: #424242;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

/* header styles */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.button-pri{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}
/* navbar related styles */
nav{
    justify-content: space-between;
    align-items: center;
}
.brand-logo{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-left: 20px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-heading{
    font-weight: 700;
    font-size: 4em;
}
.banner-img{
    width: 100%;
}
/* teams and feture releted styls */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.25rem;
}
.our-featurs{
    margin-left: 130px;
    max-width: 530px;
}

.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quik-list{
    font-weight: 500;
}

/* responsive media query */
@media screen and (max-width: 576px){
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-featurs{
        margin-left: 20px;
    }
}

/* mediyam devide */
@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
    .our-featurs{
        margin-left: 50px auto;
    }
}